@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

@font-face {
    font-family: "JetBrains";
    src: url('Fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GTimes";
    src: url('Fonts/good-times-rg.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NSquare;
    src: url('Fonts/North-Square.ttf')
}

@font-face {
    font-family: AT;
    src: url('Fonts/auto-techno.ttf')
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body, nav {
    margin: 0;
    padding: 0;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.8);
    /* background-image: url("Assets/hehe.jpg"); */
    background-blend-mode: multiply;
    background-size: cover;
    padding: 5px 30px 5px 30px;
}

.SiteTitle {
    display: flex;
    align-items: center;
}

.SiteTitle span {
    font-size: 30px;
    font-family: AT;
    font-weight: normal;
    color: white;
    padding-left: 10px;
}

.navi span {
    font-size: 20px;
    font-family: Audiowide;
    letter-spacing: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.viewingPage {
    color: white;
}

.navLink {
    color: rgb(190, 190, 190);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 3px;
    border-color: rgba(255,255,255,0);
    transition: border-color 0.2s;
}

.navi a {
    text-decoration: none;
}

.navi span:hover {
    border-color: rgb(190, 190, 190);
    border-width: 0px 0px 5px 0px;
}






.content-section {
    margin: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

.section-header {
    text-align: Center;
    font-family: 'JetBrains';
    color: Black;
}

.about-image {
    float: Right;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 10%;
}

.footer {
    background-color: #4b9651;
    color: white;
    padding: .25em 0;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-container ul {
    flex-grow: 1;
    text-align: end;
}