@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

@font-face {
    font-family: "JetBrains";
    src: url('Fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "GTimes";
    src: url('Fonts/good-times-rg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NSquare;
    src: url('Fonts/North-Square.ttf');
}

@font-face {
    font-family: AT;
    src: url('Fonts/auto-techno.ttf');
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: large;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.8);
    /* background-image: url("Assets/hehe.jpg"); */
    background-blend-mode: multiply;
    background-size: cover;
    padding: 5px 30px 5px 30px;
}

.SiteTitle {
    display: flex;
    align-items: center;
}

.SiteTitle span {
    font-size: 30px;
    font-family: AT;
    font-weight: normal;
    color: white;
    padding-left: 10px;
}

.navi span {
    font-size: 20px;
    font-family: Audiowide;
    letter-spacing: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.viewingPage {
    color: white;
    font-weight: bold;
    cursor: default;
}

.navLink {
    color:white;
    transition: color 0.2s;
}

.navi:hover span{
    color: rgb(190, 190, 190);
}

.navi .navLink:hover {
    color:white;
}



.pageBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    padding: 100px 50px 50px 50px;
    background-image: url(Assets/peakpx.jpg);
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
}

.pageTitle {
    font-family: GTimes;
    color: white;
    font-size: 50px;
}

.shortDesc {
    color: white;
    font-family: NSquare;
    text-align: center;
}

section {
    
}

.content-section {
    margin: 1em;
}

.container p {
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

.greetings {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile {
    margin-right: 30px;
    border-radius: 30px;
}

.section-header {
    text-align: Center;
    font-family: 'JetBrains';
    color: Black;
}

.about-image {
    margin-left: 30px;
}



footer {
    display:flex;
    flex-direction: column;
    background-color: #00301c;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.links{
    display: block;
}

.links:hover #color{
    fill:#8b8b8b;
}

.icon{
    width: 40px;
    margin: 0 5px 5px;
}

.icon #color{
    transition: 0.3s ease-in-out;
}

.icon:hover #color{
    fill: white;
}

.icon #color {
    fill:white;
}

.footerText span {
    font-size: 15px;
    color: white;
}