@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c");

@font-face {
    font-family: "JetBrains";
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.page-content {
    display:flex;
    flex-direction: column;
    height: 100dvh;
    background-image: url(images/content/Gear.svg);
    /*background-color: #d6d6d6;*/
}

.site-title {
    display: flex;
    align-items: center;
    margin-left:2em;
}

.nav-link {
    margin-right: 1em;
}

.nav .nav-link :hover {
    background-color: #d9d9d9;
    color:black;
    border-radius: 20px;
    cursor:pointer;
}

.section {
    margin-left: 120px;
    margin-right: 120px;
}

.sct-1-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
}

.sct-1-head span{
    padding:5px;
}

.sct-1-text1{
    display:block;
    word-spacing: 0.5em;
    color:black;
    font-size: 50px;
}

.underline {
    display: flex;
    width: 80%;
    height: 6px;
    background-color: #0C5776;
    border-radius: 6px;
}

.sct-1-text2{
    display:block;
    font-size: 25px;
    font-family: 'JetBrains';
}

.sct-2 {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: auto;
    padding: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.sct-2 h2{
   text-align: center; 
}

.sct-2-container {
    max-width: 1200px;
    margin: auto;
}
.sct-2 .desc {
    display: flex;
    align-items: flex-start;
    padding: 0.3em;
    margin-bottom:0.3em;
}

.sct-2 span{
    padding: 0.3em;
}


.descButton{
    text-align: center;
    min-width:100px;
    background-color: #00a6c7;
    border-radius: 10px;
    color:#ffffff;
}



.nav {
    background-color: rgba(0,0,0,0.8);
    background-image: url('images/nav/Gears_simple_HD_animated_background_11.gif');
    background-size:cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}


.nav-item span{
    display: inline-block;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5em;
}

.nav span {
    font-size: 2em;
    color: white;
}

.container {
    display:flex;
    justify-content:center;
    margin:0 auto;
    padding:5px 10px;
    max-width: 1200px;
}



/* Buttons styles  1st column */

.buttons {
    display:block;
    width: 300px;
}

.fn-buttons {
    display: flex;
    background-color: #005252;
    border-radius:18px 8px 8px 18px;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    display: block;
    background-color: #00a6c7;
    color:#ffffff;
    width: 100%;
    height: 60px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: bolder;
    font-size: 100%;
    letter-spacing: 3px;
    border-style: none;
    transition: 0.3s ease;
}

.btn:disabled {
    background-color: #ccc;
    color:#7a878a;
    cursor: not-allowed;
    background-color: #465b5f;
}

.modeBtn {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 5px;
    letter-spacing: 5px;
    font-size: 1em;
    
}
.modeBtn span{
    color:#ffffff;
    font-weight: bold;
}

.btn-analyzers{
    display: inline-block;
    width: 100%;
}

.btn-0 {
    border-radius:18px 8px 8px 18px;
}

.btn-1 {
    border-radius:0px 8px 0px 0px;
}

.btn-3 {
    border-radius:0px 0px 8px 0px;
}

.clr-button{
    
}
.btn-clear {
    transition:none;
    fill: #ffffff;
    background-color: #df5858;
    width: 40px;
    height: 40px;
    margin-left: -50px;
    margin-top: 130px;
    border-radius: 10px;
}

.btn-clear:disabled{
    background-color: #ca9898;
    fill: #ffecec;
}


/* Text processing  2nd column */

.text-out{
    display: flex;
    width:890px;
    margin-left: 10px;
    background-color: #0C5776;
    align-items: center;
    border-radius:8px 18px 18px 8px;
}

.text-out span{
    padding-left: 1em;
    color: white;
}

.edit-area {
    width:890px;
    display:flex;
    margin-left: 10px;
    
}

.text-in {
    width:100%;
    height: stretch;
    
}

.text-in textarea{
    font-family: "JetBrains";
    font-size: large;
    color: black;
    text-align: start;
    padding: 1em;
    width: 100%;
    height: 100%;
    resize: none;
    border-radius:8px 18px 18px 8px;
}




.container-footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.container-footer :hover {
    background-color: #d9d9d9;
    color:black;
    cursor:pointer;
    border-radius: 10px
}

.footer-item {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-bottom: 0;
    padding: 1em;
}

.footer-item span {
    padding-left: 0.3em;
}

.copyright {
    justify-content: center;
    padding-bottom: 20px;
}


